#title {
    background-color: #ec1769;
    color: white;
}

.container-fluid {
    padding: 3% 7% 14%;
}

/* Navbar designing */
.brand {
    font-family: Righteous;
    font-size: 2.0rem;
}

.font-color {
    color: white;
}

.nav-item {
    margin: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 300;
}

.navbar {
    padding: 0 0 4.5rem;

}

/* Download button */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title section */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.phone-img {
    width: 80%;
    position: absolute;
}

.rotated {
    transform: rotate(10deg);
}

/* Media Quaries for mobile device in title section*/
@media (max-width:1024px) {
    .phone-img {
        visibility: hidden;
    }

    #title {
        text-align: center;
    }
}

/* Freatures Section */
#features {
    padding: 7% 15% 7%;
    text-align: center;
    background-color: #fff;
    position: relative;
}

.feature-box {
    padding: 5%;
}

h3 {
    font-family: Montserrat;
    font-weight: 700;
}

.sub-title {
    font-family: Ubuntu;
    font-weight: 400;
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ec1769;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #ef8172;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-heading {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    color: white;
}

.profile-pic {
    margin: 30px 30px 0 30px;
    width: 10%;
    height: 91px;
}

em {
    font-family: Ubuntu;
    color: white;
}

/* pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-colum {
    padding: 3% 2%;
}

.card-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 1rem;
}

#pricing .row .pricing-colum .card .card-body {
    font-family: Ubuntu;
    font-weight: 300;
}

#pricing h2 {
    font-size: 3rem;
}

.text {
    font-size: 1.2rem;
    font-family: Ubuntu;
    font-weight: 400;
}

/* Footer section */
#footer {
    background-color: #ec1769;
    text-align: center;
    color: white;
    margin: auto;
    padding: 0.8rem;
}

#footer h3 {
    font-size: 1rem;
    margin-bottom: 20px;
}

.social-icon a {
    margin: 1rem 1rem;
    color: white;
}

.social-icon a:hover,
.copyright p a:hover {
    color: rgb(247, 242, 0);
    text-decoration: none;
}

hr {
    border-top: 5px dotted rgb(229, 230, 233);
    color: #fff;
    height: 1px;
    width: 2%;
}

#footer p {
    line-height: 5px;
}

.copyright p a {
    color: white;
}
